body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.App {
  background-color: #202124;
  height: 100vh;
  position: relative;
}

/* Nav section */

.Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 14px;
  color: #fff;
  font-size: 14px;
}

.Navbar ul {
  margin: 0;
  padding: 0;
}

.MenuIcon {
  width: 24px;
  height: 24px;
}


.Avatar {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 5px;
  background-color: #00404d;
  font-weight: 600;
  font-size: 17px;
  font-weight: 500;
  align-items: center;
}

/* search section */

.appicon {
  height: 92px;
}

.search-container {
  width: 45%;
  margin: 20px auto;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #5f6368;
  box-shadow: none;
  max-width: 580px;
}

.search-container:hover {
  background: #5f6368;
}

.input-wrapper {
  width: 100%;
}

.input-field {
  margin: 0;
  border: none;
  padding: 12px 0;
  width: 100%;
  background: transparent;
  height: inherit;
  color: #fff;
}

.input-field:focus {
  outline: none;
}

.inputicons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputicons img {
  height: 20px;
  padding: 0 16px;
}

.lens {
  padding-left: 0;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.btn {
  padding: 8px 10px;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  background-color: #303134;
  color: #fff;
  white-space: nowrap;
}

.btn:hover {
  border: 1px solid #5f6368;
}

.Language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Language p {
  font-size: 13px;
  margin-right: 10px;
  color: #4d5156;
  ;
}

.Language a {
  color: #8ab4f8;
  text-decoration: none;
  padding: 0px 3px;
  font-size: 13px;
  font-weight: 500;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #171717;
  color: #9aa0a6;

}

footer ul {
  padding: 0;
  margin: 0;
}

.footer-cols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.left-col ul,
.right-col ul {
  font-size: 14px;
  display: flex;
  gap: 20px;
}

.left-col ul li a:hover,
.right-col ul li a:hover {
  text-decoration: underline;
}

.location {
  padding: 15px 30px;
  border-bottom: 1px solid #3c4043;
  font-size: 15px;
  text-align: left;
}